body {
  background-image: url(https://i.pinimg.com/originals/08/14/47/08144724e14944914ca4b0b3d2f851d0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

#parentDiv {
  max-width: 800px;
  width: 90%;
  padding: 30px;
  background-color: #f1f1f1;
  border-radius: 3%;
}

#text {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  color: #50519f;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-container input[type="radio"],
.input-container input[type="checkbox"] {
  transform: scale(0.8);
  vertical-align: middle;
}

.label-seller,
.label-buyer,
.label-agree {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.sub-label-seller,
.sub-label-buyer {
  font-size: 16px;
  color: #50519f;
  font-weight: lighter;
  margin-left: 2.5%;
  margin-bottom: 15px;
  margin-top: 6px;
}

.cancel-button {
  width: 100%;
  padding: 10px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cancel-button:hover {
  background-color: #999;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #6d6fc3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

button:hover {
  background-color: #50519f;
}
